<div>
    <div class="titulos-novedades seccion-clara" >
        <h2>Bienvenido/a {{ usuario }} <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesion <i class="fa fa-sign-out"></i></a></h2>
        <h3>Estás en la sección de administradores</h3>
        <p class="subtitulo-novedades" >Aquí tienes las últimas novedades</p>
        <ul class="lista-novedades sin-puntos seccion-oscura">
            <li>Configuracion principal de Express ☑️</li>
            <li>Configuración de la base de datos ☑️</li>
            <li>Manejo de usuarios ☑️</li>
            <li>Dependencias ☑️</li>
            <li>Configuración de credenciales ☑️</li>
        </ul>
        <h3>No dudes en consultar periódicamente para estar al día!</h3>
    </div>
</div>