<section class="seccion-oscura">
  <h4 class="titulo-login">Por favor ingrese sus datos para identificarse.</h4>
  <form class="login_layout" action="/admin/login" method="post">
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="button btn btn-primary">Enviar</button>
  </form>

  {{#if error}}
  <p class="login-error">Usuario o contraseña incorrecta</p>
  {{/if}}
</section>