<h1>Aqui podras agendar una cita</h1>
<h2>Deja un dia y un horario disponible para vos</h2>
<form action="">
    <label for="">Dia</label>
    <input type="text" name="" id="">
    <label for="">Horario</label>
    <input type="text" name="" id="">
    <a href="">Enviar</a>
</form>