<h1>Este es el formulario de contacto</h1>
<h2>Completa el siguiente formulario</h2>
<form action="">
    <label for="">Escribe tu nombre</label>
    <input type="text" name="" id="">
    <label for="">Escribe tu apellido</label>
    <input type="text" name="" id="">
    <label for="">Escribe tu correo electronico</label>
    <input type="text" name="" id="">
    <a href="">Enviar</a>
</form>