<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ol>
      <li><a href="">Home</a></li>
      <li><a href="/prueba">Prueba</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/destacados">Destacado</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/agenda">Agenda</a></li>
    </ol>
  </nav>
  {{{body}}}
</body>

</html>