/* Fuentes */
/* font-family: "Manrope", sans-serif; */
/* font-family: "Bebas Neue", sans-serif; */


/* Barra de Navegacion */
.navbar {
  padding: 0.3rem;
  background-color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.navbar-collapse {
  align-items: center;
  justify-content: center;
}

/* Estilos Generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

h4 {
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

p {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
}

section[id] {
  scroll-margin-top: 70px;
}

html {
  scroll-behavior: smooth;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  text-align: center;
  font-size: 4rem;
  padding: 15px 0;
  font-family: "Bebas Neue", sans-serif;
  color: #6161a1;
}

.seccion-titulo-modals {
  text-align: center;
  color: #1b1b32;
  padding-bottom: 10px;
  padding-top: 30px;
}

.seccion-descripcion {
  text-align: center;
  font-size: 1.4rem;
  color: #446692;
  margin: -25px;
}

.seccion-texto {
  font-size: 1.2rem;
}


.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.btn-right {
  text-align: right;
}

.text-right {
  text-align: right;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;

}

.hero-img-desarrollador {
  width: 100;
  height: 100;
  border-radius: 80%;
  margin: 100px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
  font-family: "Bebas Neue", sans-serif;
}

.hero-inferior {
  padding: 40px 40px 40px 40px;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 1000px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  border: 2px solid #8080804d;
  border-radius: 15px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}


.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

.experiencia i {
  font-size: 2.5rem;
  color: #00ffb3;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

/* Proyectos */
.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}


.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}


.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;

}

.overlay i {
  color: white;
  font-size: 60px;
  margin: 10px;
}

/* Slider */

.trabajos3d h2 {
  color: #446692;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trabajos-slider {
  padding: 50px 0 50px 0;
}

.seccion-renders {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}

.seccion-renders h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  color: #446692;
}

.seccion-renders:hover .renders-slide {
  animation-play-state: paused;
}

.renders-slide {
  display: inline-block;
  animation: 30s slider infinite linear;
}

.renders-slide img {
  height: 150px;
  gap: 0;
  border-radius: 15px;
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;

}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  padding: 3px 3px 20px 3px;
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Playwrite AU SA", serif;
  color: #446692;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #4e4545;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;

}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(44, 79, 133);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: #0a0a23;
}

.contacto button:hover i {
  color: black;
}

/* Formulario de contacto */

.form .container {
  padding-top: 30px;
  padding-bottom: 80px;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(6, 13, 53);
  transform: translateY(-10px);

}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
  align-items: center;
  align-self: center;
}

/* LOGIN */
.login_layout {
  border: solid white 2px;
  border-radius: 15px;
  padding: 20px;
  align-items: center;
  align-self: center;
}

.titulo-login {
  padding-top: 120px;
  padding-bottom: 30px;
}

.login-error {
  color: red;
}


/* Novedades */

.novedades {
padding-top: 50px;
}

.titulos-novedades {
  padding-top: 120px;
  text-align: center;
}

.subtitulo-novedades {
  color: #1b1b32;
  text-align: center;
  font-size: 1.5rem;
}

.lista-novedades {
  text-align: center;
  font-size: 2rem;
  color: #14146d;
  padding: 60px 0 10px 0;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  list-style: none; 
}

.modal-lista {
  width: 100%;
  padding: 30px 150px 30px 150px;
  color: #446692;
}


.sin-puntos {
  list-style: none;
}







/* Responsive */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}



@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 15px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-widthÑ: 800px) {
  .testimonio-imagen {
    height: 80px;
    width: 80px;
  }
  
  .testimonio-texto {
    font-size: 12px;
  }
}

@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

