<div class="container seccion-agregar-novedad seccion-oscura" style="margin100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"
                        id=""></textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo" id=""></textarea>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Quiere cargar una imagen?</label>
                    <input class="form-control" name="imagen" type="file" id="imagen">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>